html, body
{
    height: 100%;
    padding: 0;
    margin: 0;
}

.b-page
{
    position: relative;
    height: 100%;
    background: #F6F5F3;
}

.b-page .b-page__scroll-area
{
    left: 10px;
    top: 10px;
    bottom: 10px;
    right: 10px;
}
